.el-tooltip__popper{
    max-width: 50vw;
    max-height: 90vh;
    word-break: break-all;
}
.el-table-filter__bottom {
    overflow: hidden;
}
.el-table-filter__bottom button:nth-of-type(1) {
    float: left;
}
.el-table-filter__bottom button:nth-of-type(2) {
    float: right;
}

body {
    & .time-select-item.selected:not(.disabled) {
        background-color: #F1FBFB;
        color: #48666a;
    }
    & .time-select-item.selected:not(.disabled):hover {
        background-color: #F1FBFB;
        color: #48666a;
    }
    & .time-select-item:hover {
        background-color: #f6f6f6;
    }
}